<ion-content>
  <h2 class="ion-text-center ion-margin">Stato quote: <span
      [class]="user.quoteInRegola ? 'in-regola' : 'non-in-regola'">
      {{user.quoteInRegola ? 'In regola' : 'Non in regola'}}</span></h2>

  <ion-list class="ion-margin">
    <ion-item class="ion-no-padding">
      <ion-row>
        <ion-col class="dati-quota" size="7">
          <div>
            <h3>Quota 1991</h3>
            <ion-card-subtitle>01/01/1991</ion-card-subtitle>
            <ion-text>Stato: <b>Pagato</b></ion-text>
          </div>
        </ion-col>
        <ion-col size="5" class="importo">€ 500,00</ion-col>
      </ion-row>
    </ion-item>
    <ion-item class="ion-no-padding">
      <ion-row>
        <ion-col class="dati-quota" size="7">
          <div>
            <h3>Quota 1998</h3>
            <ion-card-subtitle>29/10/1998</ion-card-subtitle>
            <ion-text>Stato: <b>Pagato</b></ion-text>
          </div>
        </ion-col>
        <ion-col size="5" class="importo">€ 1000,00</ion-col>
      </ion-row>
    </ion-item>
    <ion-item class="ion-no-padding">
      <ion-row>
        <ion-col class="dati-quota" size="7">
          <div>
            <h3>Quota 2011</h3>
            <ion-card-subtitle>19/04/2011</ion-card-subtitle>
            <ion-text>Stato: <b>Pagato</b></ion-text>
          </div>
        </ion-col>
        <ion-col size="5" class="importo">€ 2,00</ion-col>
      </ion-row>
    </ion-item>
    <ion-item class="ion-no-padding">
      <ion-row>
        <ion-col class="dati-quota" size="7">
          <div>
            <h3>Quota 2019</h3>
            <ion-card-subtitle>01/06/2019</ion-card-subtitle>
            <ion-text>Stato: <b>Non pagato</b></ion-text>
          </div>
        </ion-col>
        <ion-col size="5" class="importo">€ 200,00</ion-col>
      </ion-row>
    </ion-item>

  </ion-list>
</ion-content>