.in-regola {
  color: #198754;
}

.non-in-regola {
  color: #dc3545;
}

ion-item {
  ion-row {
    width: 100%;
    ion-title {
      padding: 0;
    }
    .dati-quota {
      align-items: center;
      div {
        h3 {
          margin: auto;
        }
      }
    }
    .importo {
      height: fit-content;
      text-align: end;
      margin: auto;
    }
    .arrow {
      margin: auto;
    }
  }
}
