<ion-content>
  <h2 class="ion-text-center ion-margin">Stato quote: <span
      [class]="user.quoteInRegola ? 'in-regola' : 'non-in-regola'">
      {{user.quoteInRegola ? 'In regola' : 'Non in regola'}}</span></h2>

  <ion-list class="ion-margin">
    <ion-item class="ion-no-padding" *ngFor="let quota of quote">
      <ion-row class="ion-no-padding">
        <ion-col class="dati-quota" size="7">
          <div>
            <h3>{{quota.nome}}</h3>
            <ion-card-subtitle>{{quota.data | date:'dd/MM/yyyy'}}</ion-card-subtitle>
            <ion-text>Stato: <b [class]="quota.stato ? 'in-regola' : 'non-in-regola'">
                {{quota.stato ? 'Pagato' : 'Non pagato'}}</b></ion-text>
          </div>
        </ion-col>
        <ion-col [size]="quota.stato ? 5 : 4" class="importo">€ {{quota.importo}}</ion-col>
        <ion-col size="1" class="arrow ion-text-end" *ngIf="!quota.stato">
          <ion-icon size="small" name="chevron-forward-outline" (click)="openQuotePayment(quota)">
          </ion-icon>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
</ion-content>