<ion-content>
  <ion-grid class="ion-justify-content-center">
    <ion-item id="setting">
      <ion-toggle [(ngModel)]="user.notifichePush" color="primary"></ion-toggle>
      <ion-label>Notifiche push</ion-label>
    </ion-item>
    <ion-item id="setting">
      <ion-toggle [(ngModel)]="user.mostraEmail" color="primary"></ion-toggle>
      <ion-label>Mostra Email</ion-label>
    </ion-item>
    <ion-item id="setting">
      <ion-toggle [(ngModel)]="user.mostraNumTel" color="primary"></ion-toggle>
      <ion-label>Mostra numero di telefono</ion-label>
    </ion-item>
  </ion-grid>
</ion-content>

<ion-footer class="ion-margin-top ion-justify-content-end">
  <ion-button [disabled]="checkDisabled()" (click)="changeSettings()">Salva</ion-button>
</ion-footer>