.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  ion-img {
    width: 70%;
  }
  ion-item-group {
    width: 100%;
    ion-item {
      --padding-end: 16px !important;
    }
  }
}

.qr-code {
  text-align: center;
}
