ion-card {
  width: 60%;
  padding-top: 5%;
  padding-bottom: 5%;
  border-radius: 24px;
  background-image: linear-gradient(
    to right bottom,
    #ffffff,
    #e2e2e2,
    #c6c6c6,
    #ababab,
    #909090
  );
  img {
    border: 1px solid black;
  }
  ion-card-title {
    color: black;
  }
  .dati {
    margin: auto;
  }
}

.qr-code {
  width: 40%;
  aspect-ratio: 1;
  margin: auto;
  margin-bottom: 5%;
  margin-top: 5%;
}
