ion-chip {
  margin-left: 0;
  background-color: white;
  border: 2px solid;
}

ion-grid {
  width: 90%;
}

.news-card {
  margin-bottom: 0;
  transition: all 0.2s ease-out;
  cursor: pointer;
  width: 100%;
  height: 100%;
  margin-inline: 0 !important;
  ion-card-content {
    p {
      margin-left: auto;
      margin-right: auto;
      margin-top: 2%;
      text-align: justify;
      width: 90%;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: pre-line;      
    }
    ion-row {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.news-card:hover {
  transform: scale(1.03);
  transition: all 0.2s ease-in;
}

@media screen and (max-width: 425px) {
  .news-card {
    ion-card-content {
      p {
        -webkit-line-clamp: 3;
      }
    }
  }
}
