.swiper {
  width: 80%;
  //box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
  ion-card {
    height: -webkit-fill-available;
    height: -moz-available;
    width: 100%;
    ion-card-content {
      p {
        margin-left: auto;
        margin-right: auto;
        margin-top: 2%;
        margin-bottom: 2%;
        text-align: justify;
        width: 90%;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      ion-row {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2%;
      }
    }
  }
}

ion-chip {
  margin-left: 0;
  background-color: white;
  border: 2px solid;
}

ion-grid {
  width: 90%;
}

.news-card {
  margin-bottom: 0;
  transition: all 0.2s ease-out;
  cursor: pointer;
  width: 100%;
  height: 100%;
  margin-inline: 0 !important;
  ion-card-content {
    p {
      margin-left: auto;
      margin-right: auto;
      margin-top: 2%;
      text-align: justify;
      width: 90%;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    ion-row {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.news-card:hover {
  transform: scale(1.03);
  transition: all 0.2s ease-in;
}

@media screen and (max-width: 425px) {
  .swiper {
    width: 90%;
    ion-card {
      ion-card-content {
        p {
          -webkit-line-clamp: 3;
        }
      }
    }
  }

  .news-card {
    ion-card-content {
      p {
        -webkit-line-clamp: 3;
      }
    }
  }
}
