<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="retrieveNews($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-row class="ion-justify-content-center ion-margin">
    <ion-col [sizeXs]="12" [sizeSm]="5" *ngFor="let notizia of news" class="ion-margin">
      <ion-card class="news-card">
        <ion-card-header (click)="openNews(notizia.newsId)">
          <ion-img [src]="notizia.imgs.length > 0 ? notizia.imgs[0] : defaultImage"
            [alt]="notizia.imgs.length > 0 ? notizia.imgs[0] : defaultImage"></ion-img>
        </ion-card-header>
        <ion-card-content (click)="openNews(notizia.newsId)" class="ion-text-center">
          <ion-card-title class="ion-no-padding ion-margin-bottom">{{notizia.title}}</ion-card-title>
          <p>{{notizia.content}}</p>
        </ion-card-content>
        <ion-row class="ion-justify-content-end ion-margin-end">
          <ion-button color="primary" *ngIf="notizia.isEvent" (click)="openEventRegistration(notizia)"
            class="ion-margin-top ion-margin-bottom">
            Partecipa</ion-button>
        </ion-row>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-infinite-scroll class="ion-padding" threshold="10px" (ionInfinite)="retrieveMoreNews($event)">
    <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Loading more news...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>