<ion-content>
  <ion-row class="ion-justify-content-center ion-margin">
    <ion-col [sizeXs]="12" [sizeSm]="5" *ngFor="let notizia of news" class="ion-margin">
      <ion-card class="news-card" (click)="openNews(notizia.newsId)">
        <ion-card-header>
          <ion-img [src]="notizia.imgs.length > 0 ? notizia.imgs[0] : defaultImage"
            [alt]="notizia.imgs.length > 0 ? notizia.imgs[0] : defaultImage"></ion-img>
        </ion-card-header>
        <ion-card-content class="ion-text-center">
          <ion-card-title class="ion-padding">{{notizia.title}}</ion-card-title>
          <p>{{notizia.content}}</p>
          <ion-row class="ion-justify-content-end">
            <ion-button color="primary" *ngIf="notizia.isEvent" class="ion-margin-top ion-margin-bottom">
              Partecipa</ion-button>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-infinite-scroll class="ion-padding" threshold="10px" (ionInfinite)="retrieveMoreNews($event)">
    <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Loading more news...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>