ion-img::part(image) {
  width: 70% !important;
  aspect-ratio: 1;
}

ion-button {
  margin-right: 2%;
}

app-side-menu {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.hamburger {
  margin-top: auto;
  margin-bottom: auto;
}
