<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-icon class="ion-margin-start hamburger" name="menu-outline" size="large" (click)="openSideMenu()"></ion-icon>
      <ion-title>{{selectedTab}}
      </ion-title>
    </ion-row>
    <ion-button slot="end" *ngIf="!user.id" color="secondary" [routerLink]="['/auth/login']" routerDirection="forward">
      ACCEDI
    </ion-button>
    <ion-icon name="options-outline" class="ion-margin-end" *ngIf="selectedTab == 'Trova ex allievo'" slot="end"
      size="large" (click)="openFilters()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-menu side="start" menuId="main-menu" contentId="main-content" type="overlay">
  <app-side-menu (emitTabName)="setSelectedTab($event)" [user]="user"></app-side-menu>
</ion-menu>
<ion-content id="main-content">
  <ion-tabs #tabs>
  </ion-tabs>
</ion-content>