<ion-content>
  <ion-row class="ion-margin-top ion-justify-content-center">
    <h1>Profilo</h1>
  </ion-row>
  <ion-row class="ion-margin-top ion-justify-content-center">
    <div class="img-div">
      <input #imgInput type="file" accept="image/*" id="profileImage" hidden (input)="changeImage($event)" />
      <img [src]="tempUser.imgUrl" />
      <ion-icon size="large" name="camera" (click)="imgInput.click()"></ion-icon>
    </div>
  </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-segment class="ion-margin-top" [(ngModel)]="currentTab" scrollable="true">
      <ion-segment-button (ionClick)="setCurrentTab($event)" value="details">Dati utente</ion-segment-button>
      <ion-segment-button (ionClick)="setCurrentTab($event)" value="quote">Stato quote</ion-segment-button>
    </ion-segment>
  </ion-row>
  <ion-item-group class="ion-margin-top" *ngIf="currentTab === 'details'">
    <ion-row class="ion-margin-top ion-justify-content-center input-row">
      <ion-item>
        <ion-label position="stacked">Nome</ion-label>
        <ion-input [(ngModel)]="tempUser.nome"></ion-input>
      </ion-item>
    </ion-row>
    <ion-row class="ion-margin-top ion-justify-content-center input-row">
      <ion-item>
        <ion-label position="stacked">Cognome</ion-label>
        <ion-input [(ngModel)]="tempUser.cognome"></ion-input>
      </ion-item>
    </ion-row>
    <ion-row class="ion-margin-top ion-justify-content-center input-row">
      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input [(ngModel)]="tempUser.email" disabled></ion-input>
      </ion-item>
    </ion-row>
    <ion-row class="ion-margin-top ion-justify-content-center input-row">
      <ion-item>
        <ion-label position="stacked">Data di nascita</ion-label>
        <ion-datetime pickerFormat="DD/MM/YYYY" displayFormat="DD/MM/YYYY" [(ngModel)]="tempUser.dataNascita">
        </ion-datetime>
      </ion-item>
    </ion-row>
    <ion-row class="ion-margin-top ion-justify-content-center input-row autocomplete-div">
      <ion-item class="searchbar-container">
        <ion-label position="stacked">Località</ion-label>
        <ion-input (ionFocus)="setIsLocationSelected(true)" (ionChange)="searchForAddress()" debounce="1000"
          [(ngModel)]="autocompleteLocation.input"></ion-input>
      </ion-item>
      <ion-list class="places-autocomplete" [hidden]="autocompleteItems.length === 0 || !isLocationSelected">
        <ion-item *ngFor="let item of autocompleteItems" (click)="selectedPlace(item)">{{item.description}}
        </ion-item>
      </ion-list>
    </ion-row>
    <ion-row class="ion-margin-top ion-justify-content-center input-row">
      <ion-item>
        <ion-label position="stacked">Lavoro</ion-label>
        <ion-input [(ngModel)]="tempUser.lavoro"></ion-input>
      </ion-item>
    </ion-row>
    <ion-row class="ion-margin-top ion-justify-content-center input-row autocomplete-div">
      <ion-item class="searchbar-container">
        <ion-label position="stacked">Indirizzo spedizione calendario</ion-label>
        <ion-input (ionFocus)="setIsLocationSelected(false)" (ionChange)="searchForAddress()" debounce="1000"
          [(ngModel)]="autocompleteCalendar.input"></ion-input>
      </ion-item>
      <ion-list class="places-autocomplete" [hidden]="autocompleteItems.length === 0 || isLocationSelected">
        <ion-item *ngFor=" let item of autocompleteItems" (click)="selectedPlace(item)">{{item.description}}
        </ion-item>
      </ion-list>
    </ion-row>
    <ion-row class="ion-margin-top ion-justify-content-center input-row">
      <ion-item>
        <ion-label>Fatti Trovare</ion-label>
        <ion-toggle color="primary" [(ngModel)]="tempUser.fattiTrovare"></ion-toggle>
      </ion-item>
    </ion-row>
    <ion-button class="ion-margin-top ion-justify-content-center button" expand="block" (click)="updateProfile()">
      Salva modifiche</ion-button>
  </ion-item-group>
  <ion-item-group class="ion-margin-top" *ngIf="currentTab === 'quote'">
    <ion-row class="ion-margin-top">
      <ion-col class="ion-text-center">
        <ion-title>Stato quote: <span
            [class]="tempUser.quoteInRegola ? 'in-regola' : 'non-in-regola'">{{user.quoteInRegola
            ? 'In regola' : 'Non in regola'}}</span></ion-title>
      </ion-col>
    </ion-row>
  </ion-item-group>
</ion-content>