.img-div {
  width: 30% !important;
  justify-content: center;
  display: flex;
  position: relative;
  img {
    width: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
  }
  ion-icon {
    position: absolute;
    bottom: 5%;
    right: 5%;
    background-color: grey;
    padding: 5%;
    border-radius: 50%;
  }
}

ion-content {
  width: 100%;
  ion-item-group {
    margin: auto;
  }
  ion-item {
    width: 100%;
  }
  ion-segment {
    width: 100%;
    justify-content: center;
  }
}

.button {
  width: 60%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}

.autocomplete-div {
  position: relative;
  .searchbar-container {
    padding: 2px;
  }
  .places-autocomplete {
    position: absolute;
    z-index: 9999;
    top: 90%;
    width: 100%;
    height: 160px;
    overflow-y: auto;
    ion-item {
      cursor: pointer;
      --padding-start: 0px !important;
    }
  }
}

@media screen and (max-width: 768px) {
  .autocomplete-div {
    .places-autocomplete {
      ion-item {
        font-size: 14px;
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .autocomplete-div {
    .places-autocomplete {
      ion-item {
        font-size: 12px;
      }
    }
  }
}
