ion-grid {
  width: 80%;
  align-self: center;
  ion-chip {
    margin-left: 0;
    background-color: white;
    border: 2px solid;
  }
  .content-row {
    width: 100%;
    margin: auto;
  }
  .img-row {
    width: 100%;
    align-items: flex-start;
  }
}

h1 {
  font-size: 32px;
}

.tab-name {
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
