<ion-content>
  <ion-toolbar>
    <ion-icon name="close-outline" slot="end" size="large" (click)="closeModal()"></ion-icon>
  </ion-toolbar>
  <ion-grid>
    <h2 class="ion-no-margin ion-padding-bottom">Inserisci i tuoi dati per partecipare</h2>
    <ion-item>
      <ion-label position="stacked">Nome</ion-label>
      <ion-input [(ngModel)]="data.nome"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Cognome</ion-label>
      <ion-input [(ngModel)]="data.cognome"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">E-Mail</ion-label>
      <ion-input type="email" [(ngModel)]="data.email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Numero di telefono</ion-label>
      <ion-input type="tel" [(ngModel)]="data.telefono"></ion-input>
    </ion-item>
    <ion-button expand="block" class="ion-no-padding ion-margin-top" [disabled]="checkDisabled()" (click)="sendEmail()">
      Partecipa
    </ion-button>
  </ion-grid>
</ion-content>