<ion-content>
  <ion-fab *ngIf="isMapFiltered" vertical="top" horizontal="end">
    <ion-chip>Cancella filtri<ion-icon name="close-outline" (click)="defaultSearch()"></ion-icon>
    </ion-chip>
  </ion-fab>
  <span *ngIf="currentTab === 'map'">
    <google-map #map id="map" height="100%" width="100%" [center]="center" [zoom]="5" [options]="mapOptions">
      <span *ngIf="points">
        <map-marker *ngFor="let point of points" (mapClick)="openProfile(point.user.id)"
          [position]="point.getPosition()">
          <map-info-window></map-info-window>
        </map-marker>
      </span>
    </google-map>
  </span>
  <span *ngIf="currentTab === 'list'">
    <span *ngIf="filteredUsers.length === 0" class="ion-justify-content-center ion-text-center ion-padding">
      <ion-title>Nessun risultato</ion-title>
    </span>
    <span *ngIf="filteredUsers.length > 0">
      <ion-list>
        <ion-item *ngFor="let user of filteredUsers" class="ion-no-padding">
          <ion-img [src]="user.imgUrl" class="ion-padding"></ion-img>
          <ion-list class="list-data ion-padding">
            <ion-text class="profile-name"><b>{{user.nome + ' ' + user.cognome | uppercase}}</b></ion-text>
            <ion-text>{{user.dataNascita | date: 'dd/MM/yyyy'}}</ion-text>
            <ion-text>{{user.localita}}</ion-text>
            <ion-text>{{user.professione}}</ion-text>
          </ion-list>
          <ion-icon (click)="openProfile(user.id)" name="chevron-forward-outline" slot="end"></ion-icon>
        </ion-item>
      </ion-list>
    </span>
  </span>
</ion-content>
<ion-footer class="ion-padding-start ion-padding-end">
  <ion-toolbar class="ion-justify-content-center">
    <ion-icon name="locate-outline" size="large" (click)="getLocation(true, true)" slot="start">
    </ion-icon>
    <ion-icon name="radio-outline" size="large" class="ion-padding-start" (click)="aroundMe()" slot="start"></ion-icon>
    <ion-icon [name]="currentTab === 'list' ? 'map-outline' : 'list-outline'" size="large" (click)="toggleView()"
      slot="end">
    </ion-icon>
  </ion-toolbar>
</ion-footer>