<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-title>Menu</ion-title>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="menu-voices">
    <ion-item lines="none" *ngFor="let option of menuOptions"
      (click)="!user && option.needsLogin ? alert(): handleNavigation([option.path], option.name)"
      [class]="(!user && option.needsLogin) ? 'disabilitato' : null">
      <ion-icon [name]="option.icon" size="large"></ion-icon>
      <ion-text class="ion-margin-start">{{option.name}}</ion-text>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
    <ion-item *ngIf="user" lines="none" (click)="handleNavigation(['/private/profile'], 'Profilo')">
      <ion-avatar>
        <img [src]="user.imgUrl" />
      </ion-avatar>
      <div class="profile-div">
        <ion-text class="ion-margin-start">Profilo</ion-text>
        <ion-text class="ion-margin-start"><b>{{user.nome + ' ' + user.cognome | uppercase}}</b></ion-text>
      </div>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
    <ion-item *ngIf="user" lines="none" (click)="handleNavigation(['auth','login'])">
      <ion-icon name="log-out-outline" size="large"></ion-icon>
      <ion-text class="ion-margin-start">Logout</ion-text>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-item class="footer">
    <ion-text>Versione {{version}}</ion-text>
  </ion-item>
</ion-footer>