ion-row {
  ion-item {
    width: 80%;
  }
}

ion-button {
  width: 80%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}
.autocomplete-div {
  position: relative;
  .searchbar-container {
    padding: 2px;
  }
  .places-autocomplete {
    position: absolute;
    z-index: 9999;
    width: 80%;
    top: 80%;
    height: 160px;
    overflow-y: auto;
    ion-item {
      cursor: pointer;
    }
  }
}

.slider-container {
  width: 100%;
  display: flex;
  align-items: center;
  ion-text {
    width: 15%;
    text-align: end;
  }
}

@media screen and (max-width: 768px) {
  .autocomplete-div {
    .places-autocomplete {
      ion-item {
        font-size: 14px;
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .autocomplete-div {
    .places-autocomplete {
      ion-item {
        font-size: 12px;
      }
    }
  }

  .slider-container {
    ion-text {
      width: 25%;
    }
  }
}
